@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap");
@import "tailwindcss";
@import "tailwindcss-animated";

body {
  background-color: #101722;
  color: white;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #3a598c #101722;
}

/* Chrome / Edge / Safari */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0e121a;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border: 2px solid #101722;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a5cad;
}

@keyframes scroll-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

@theme {
  --animate-gradient: gradientMove 5s linear infinite;
  --font-pixel: "Jacquard 24", system-ui;
  --bg-color: #101722;
}

/* Backend */
.animate-scroll-backend {
  animation: scroll-infinite 10s linear infinite;
}

/* Frontend m치s r치pido */
.animate-scroll-frontend {
  animation: scroll-infinite 8s linear infinite; /* m치s r치pido */
}

@keyframes grow-line {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.animate-grow-line {
  transform-origin: top;
  animation: grow-line 3s ease forwards;
}

@keyframes grow-underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animate-grow-underline {
  transform-origin: left;
  animation: grow-underline 1.5s ease forwards;
}
